{% extends 'base.html.twig' %}

{% block body %}

<h1>Creating IT Tools and Applications for R&T</h1>
<p>The reference project for this competency is not yet finished, so I have relied on standard coursework.</p>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#01" aria-selected="true" role="tab">AC13.02</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#03" aria-selected="false" tabindex="-1" role="tab">AC13.03</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#04" aria-selected="false" tabindex="-1" role="tab">AC13.04</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" style="background-color: var(--card-bg)" id="01" role="tabpanel">
    <h4>Read, execute, debug, and modify a program (AC13.02)</h4>
    <p>This competency, acquired during resource R1.07, allowed me to master reading and modifying programs in C and Python.<br><br>I completed concrete projects such as a calculator, a postage system, and a matchstick game, which confronted me with syntax errors and the strictness of the gcc compiler. This experience taught me how to interpret error messages to debug my programs independently. <br><br> In the future, I aim to systematize the documentation of my code and the use of Git to better track my modifications. </p>
  </div>
  
  <div class="tab-pane fade" style="background-color: var(--card-bg)" id="03" role="tabpanel">
    <h4>Translate an algorithm into a given language and environment (AC13.03)</h4>
    <p>This module allowed me to transform logical concepts into functional programs using C and Python. I have gained full mastery of fundamental structures such as loops, conditions, functions, and array manipulation. <br><br> Although I demonstrated autonomy on most tasks, I encountered difficulties when handling text files. To resolve them, I adopted an active approach to searching for documentation online to identify the appropriate functions and parameters. This experience allowed me to consolidate my technical foundations while identifying clear areas for improvement, particularly regarding memory allocation in C and file management optimization.</p>
  </div>
  
  <div class="tab-pane fade" style="background-color: var(--card-bg)" id="04" role="tabpanel">
    <h4>Understand website architecture and technologies (AC13.04)</h4>
    <p>My learning of web technologies has been marked by significant evolution, moving from a mastery of HTML/CSS to the discovery of the Symfony framework. Initially blocked by the complexity of Symfony, I overcame this apprehension by redoing all the lab exercises personally to succeed in SAé 1.04. <br><br>While creating my e-portfolio, I integrated a Bootstrap theme, a light/dark mode, and a multilingual system. An initial analysis error caused me to lose four hours of work by ignoring the base.html.twig structure, which taught me the crucial importance of analyzing a framework's architecture before coding "head down." Today, I am proficient in deploying a Symfony server and using GitHub for version control.</p>
  </div>
</div>

<div class="card border-primary mb-6" style="max-width: 200rem;">
  <div class="card-header text-white bg-primary">Competency Assessment</div>
  <div class="card-body">
    <p class="card-text">To validate the RT3 competency, I mastered programming in C and Python to create applications like a calculator, learning to fix my errors via the gcc compiler.</p>
    <p class="card-text">I also developed web tools using the Symfony framework and Bootstrap for my E-portfolio, integrating multilingual features and Git versioning.</p>
    <p class="card-text">This journey taught me to rigorously analyze software architecture, such as the base.html.twig structure, to organize my projects effectively and professionally.</p>
  </div>
</div>

<br>

<div class="container-fluid mb-12">
    <div class="row g-2">
        <div class="list-group col-6">
            <a href="/en/administrer">
                <button type="button" class="btn btn-primary col-12">Go to: Administering Networks and the Internet</button>
            </a>
        </div>
        <div class="list-group col-6">
            <a href="/en/connecter">
                <button type="button" class="btn btn-primary col-12">Go to: Connecting Companies and Users</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}