{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-bg-primary mb-3">
                <h3 class="card-header">Personal Information</h3>
                <div class="card-body">
                    <h4 class="card-title">MONDON Camille</h4>
                    <h6 class="card-subtitle text-muted">Student in a Bachelor of Networking & Telecommunications</h6>
                </div>
                <img src="/document/photoCV.png" alt="Photo of Camille" class="img-fluid rounded">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">📱 06 56 66 11 39</li>
                    <li class="list-group-item">✉️ camille.mondon42@gmail.com</li>
                    <li class="list-group-item">📍 12 boulevard de Belgique, 42300 Roanne</li>
                    <li class="list-group-item">📆 20/07/2007</li>
                </ul>
                <div class="card-body">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Skills</div>
                        <div class="card-body">
                            <p class="card-text">
                                Teamwork<br>Autonomy<br>Reliability<br>Creativity<br>Communication<br>Critical Thinking<br>+technical skill
                            </p>
                        </div>
                    </div>
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Interests</div>
                        <div class="card-body">
                            <p class="card-text">
                                Music: 5 years of violin and 10 years of percussion in a group.<br>
                                Board games: created my own strategy board game.<br>
                                Hiking/Walking: walks several times a week, often alone.<br>
                                Halloween events for my neighborhood with my family for more than 10 years.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
    <h1>My Dream Job: Computer Science Teacher (NSI)</h1>
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button">My Education:</button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Education:</div>
                <div class="card-body">
                    <h4 class="card-title">Bachelor in Networking & Telecommunications <br> 09/2025 – Ongoing</h4>
                    <p class="card-text">
                        IUT of Roanne - Jean Monnet University <br>
                        - Participated in the 2025 project call <br>
                        - CSR Representative
                    </p>
                    <a href="https://iut-roanne.univ-st-etienne.fr/fr/index.html" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Education:</div>
                <div class="card-body">
                    <h4 class="card-title">BAFA <br> 04/2025 - Ongoing</h4>
                    <p class="card-text">Training in youth leadership and group supervision.</p>
                    <a href="https://www.jeunes.gouv.fr/le-brevet-d-aptitude-aux-fonctions-d-animateur-bafa-253" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Education:</div>
                <div class="card-body">
                    <h4 class="card-title">High School Diploma | Jacob Holtzer <br> 2022 - 2025</h4>
                    <p class="card-text">
                        General Track: Mathematics & Computer Science<br>
                        Super 8 option (film workshop).
                    </p>
                    <a href="https://jacob-holtzer.ent.auvergnerhonealpes.fr/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button">Professional Experience:</button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">Youth Leader - Recreation Center <br> February and July 2025</h4>
                    <p class="card-text">
                        📍Cellieu Town Hall | Cellieu (42), France <br>
                        - manage and ensure the safety of a group of children (6–10 years old),<br>
                        - create and lead activities,<br>
                        - work as part of a team with other leaders.
                    </p>
                    <a href="https://cellieu.fr/press3/mairie/enfance-et-jeunesse/centre-de-loisirs/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">President of the Student Association (MDL) <br> 2024/2025</h4>
                    <p class="card-text">
                        📍Jacob Holtzer High School | Firminy (42), France<br>
                        Involved in the MDL, also vice-president of the Student Life Council (CVL), member of the School Board, and member of the disciplinary council.<br>
                        - Event organization, budget management, team meetings
                    </p>
                    <a href="https://jacob-holtzer.ent.auvergnerhonealpes.fr/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">Maintenance Worker <br> July 2024</h4>
                    <p class="card-text">
                        📍Espace Mont d'Or | Jura (39), France<br>
                        - outdoor building maintenance
                    </p>
                    <a href="https://www.espacemontdor.com/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">Volunteer <br> 2022/2024</h4>
                    <p class="card-text">
                        📍Anges Des Eaux Vives | Le Chambon Flles (42)<br>
                        Once a year for 3 years <br>
                        - Helped run activity workshops
                    </p>
                    <a href="https://www.angesdeseauxvives.org/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary" href="/en/cv/telechargement">
            To download the resume, click here.
        </a>
        <br>
    </div>
    <br>
</div>
<br>
{% endblock %}
