{% extends 'base.html.twig' %}

{% block body %}
<header> 
    <div class="text-center">   
        <h1>My Resume: My Professional Experience</h1>
    </div>
</header>
<div class="text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">Youth Leader - Recreation Center <br>February and July 2025</h4>
                    <p class="card-text">
                        📍Cellieu Town Hall | Cellieu (42), France <br>
                        - Manage and ensure the safety of a group of children (6–10 years old),<br>
                        - Create and lead activities,<br>
                        - Work as part of a team with other leaders.
                    </p>
                    <a href="https://cellieu.fr/press3/mairie/enfance-et-jeunesse/centre-de-loisirs/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">President of the Student Association (MDL) <br>2024/2025</h4>
                    <p class="card-text">
                        📍Jacob Holtzer High School | Firminy (42), France<br>
                        Involved in the MDL, also vice-president of the Student Life Council (CVL), member of the School Board & member of the disciplinary council.<br>
                        - Organize events, manage budget, conduct team meetings
                    </p>
                    <a href="https://jacob-holtzer.ent.auvergnerhonealpes.fr/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">Maintenance Worker <br>July 2024</h4>
                    <p class="card-text">
                        📍Espace Mont d'Or | Jura (39), France<br>
                        - Outdoor building maintenance
                    </p>
                    <a href="https://www.espacemontdor.com/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Professional Experience:</div>
                <div class="card-body">
                    <h4 class="card-title">Volunteer <br>2022/2024</h4>
                    <p class="card-text">
                        📍Anges Des Eaux Vives | Le Chambon Flles (42)<br>
                        Once a year for 3 years <br>
                        - Participated in running activity workshops
                    </p>
                    <a href="https://www.angesdeseauxvives.org/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex; justify-content: center; gap: 20px;">
        <a class="btn btn-primary btn-lg" href="/en/cv">
            Back to Resume
        </a>
        <a class="btn btn-primary btn-lg" href="/en/cv/formations">
            Go to: Education
        </a>
        <a class="btn btn-primary btn-lg" href="/en/cv/telechargement">
            Download Resume
        </a>
    </div>
    <br><br>
</div>

{% endblock %}
