{% extends 'base.html.twig' %}

{% block body %}
<header> 
    <div class="text-center">   
        <h1>My Resume: My Education:</h1>
    </div>
</header>
<div class="text-center"> 
    <div class="card-center">
        <br>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Education:</div>
                <div class="card-body">
                    <h4 class="card-title">Bachelor in Networking & Telecommunications <br> 09/2025 – Ongoing</h4>
                    <p class="card-text">
                        IUT of Roanne - Jean Monnet University <br>
                        - Participated in the 2025 project call <br>
                        - CSR Representative
                    </p>
                    <a href="https://iut-roanne.univ-st-etienne.fr/fr/index.html" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Education:</div>
                <div class="card-body">
                    <h4 class="card-title">BAFA <br> 04/2025 - Ongoing</h4>
                    <p class="card-text">Training in youth leadership and group supervision.</p>
                    <a href="https://www.jeunes.gouv.fr/le-brevet-d-aptitude-aux-fonctions-d-animateur-bafa-253" class="card-link">learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Education:</div>
                <div class="card-body">
                    <h4 class="card-title">High School Diploma | Jacob Holtzer <br> 2022 - 2025</h4>
                    <p class="card-text">
                        General Track: Mathematics & Computer Science <br>
                        Super 8 option (film workshop).
                    </p>
                    <a href="https://jacob-holtzer.ent.auvergnerhonealpes.fr/" class="card-link">learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; gap: 20px;">
        <a class="btn btn-primary btn-lg" href="/en/cv">
            Back to Resume
        </a>
        <a class="btn btn-primary btn-lg" href="/en/cv/experience">
            Go to: Professional Experience
        </a>
        <a class="btn btn-primary btn-lg" href="/en/cv/telechargement">
            Download Resume
        </a>
    </div>
    <br><br><br>
</div>

{% endblock %}
