{% extends 'base.html.twig' %}

{% block body %}

<h1> Hello ! </h1>
<h2>Welcome on my e-portfolio !</h2>
<h3>My name is Camille MONDON </p> I am in TP B2 group</h3>
<div class="container">
    <div class="list-group">
        <a href="/en/Pour_En_Savoir_+" 
           class="list-group-item list-group-item-action flex-column align-items-start active"
           style="background-color: #E95420 !important; border-color: #E95420 !important; color: white !important;">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">My hobbies:</h4>
            </div>
            <br>
            <p class="mb-1"> For more information about my hobbies, click here to learn more!</p>
        </a>
    </div>
</div>
{% endblock %}
