<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio Camille MONDON</title>
        <meta charset="utf-8" />
    </head>
    <header>
    
    <a href="/cv/en">my cv</a>
    </br>
    <a href="/portfolio/en">my portfolio</a>
    </br>
    <p>language</p>
    <a href="/home/en">English</a>
    </br>
    <a href="/">French</a>
    </header>   
    <body>
        <h1> Hello ! </h1>
        <h2>Welcome on my e-portfolio !</h2>
        <h3>My name is Camille MONDON </p> I am in TP B2 group</h3>
    </body>
</html>
