{% extends 'base.html.twig' %}

{% block body %}
<div class="row">        
    <div class="col-md-4">
        <div class="card text-bg-primary mb-3">
            <h3 class="card-header">
                <font dir="auto" style="vertical-align: inherit;">
                    <font dir="auto" style="vertical-align: inherit;">Music</font>
                </font>
            </h3>
            <div class="card-body">
                <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I have always loved music, both listening to it and playing it.</font></font></h5>
                <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I played violin for 5 years, bass in a band for 1 year, and percussion in a band for 10 years. I even have a Cajón at home.<br> I had to stop my percussion band because of my studies.</font></font></p>
            </div>
            <br>
            <video class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" controls>
                <source src="/document/spectacle.mp4" type="video/mp4">
            </video>
            <div class="card-footer text-bg-primary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
                start of the "lamp/percussion" show, in February 2025 
            </font></font></div>
        </div>
        <div class="card text-bg-primary mb-3">
            <h3 class="card-header">
                <font dir="auto" style="vertical-align: inherit;">
                    <font dir="auto" style="vertical-align: inherit;">Halloween</font>
                </font>
            </h3>
            <div class="card-body">
                <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I give out candy, but only if it's deserved.</font></font></h5>
                <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I have been creating Halloween activities/challenges for my neighborhood at my home with my family for over 10 years.</font></font></p>
            </div>
            <div class="container-fluid mb-3"> 
                <div class="row g-2">
                    <div class="col-6"> 
                        <img src="/document/h1.jpg" class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" alt="h 1">
                    </div>
                    <div class="col-6">
                    <br>
                        <img src="/document/h2.jpg" class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" alt="h 2">
                    </div>
                    <div class="col-6">
                        <img src="/document/h3.jpg" class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" alt="h 3">
                    </div>
                    <div class="col-6">
                        <img src="/document/h4.jpg" class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" alt="h 4">
                    </div>
                    <div class="col-6">
                        <img src="/document/h5.jpg" class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" alt="h 5">
                    </div>
                    <div class="col-6">
                        <img src="/document/h6.jpg" class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" alt="h 6">
                    </div>
                </div>
            </div>
            <div class="card-footer text-bg-primary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
                Halloween challenge on 10/31/2025
            </font></font></div>
        </div>
        <br>
    </div>
    

    <div class="col-md-4">
        <div class="card text-bg-primary mb-3">
            <h3 class="card-header">
                <font dir="auto" style="vertical-align: inherit;">
                    <font dir="auto" style="vertical-align: inherit;">Board Games</font>
                </font>
            </h3>
            <div class="card-body">
                <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I have a passion for board games, especially strategy games.</font></font></h5>
                <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I am a huge fan of board games, which are the main gifts I receive. My top 3 favorite games are Kingdomino, 7 Wonders Duel, and Celestia.</font></font></p>
            </div>
            <ul class="list-group list-group-flush">
            </ul>
            <div class="card-body">
                <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I also created my own strategy board game that I have been developing with my cousin since March 31, 2024. In November 2025, we are at test version 2.1.1.</font></font></p>
            </div>
            <div class="container-fluid mb-3">  
                <div class="row g-2">
                    <div class="col-4"> 
                        <img src="/document/jeux.jpg" class="img-fluid rounded" style="object-fit: contain; height: 250px; width: 100%;" alt="h 1">
                    </div>
                    <div class="col-8"> 
                        <img src="/document/monjeu.jpg" class="img-fluid rounded" style="object-fit: contain; height: 250px; width: 100%;" alt="h 2">
                    </div>
                </div>
            </div>
            <div class="card-footer text-bg-primary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
                Board games I own (left), and prototype of our board game (v2.1.1). Creation rights reserved.
            </font></font></div>
        </div>
        
<div class="card text-bg-primary mb-3">
            <h3 class="card-header">
                <font dir="auto" style="vertical-align: inherit;">
                    <font dir="auto" style="vertical-align: inherit;">Walking</font>
                </font>
            </h3>
            <div class="card-body">
                <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I like going for walks</font></font></h5>
                <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I like going for walks to stay in shape and get some fresh air. I walk towards the harbor in Roanne, and at my parents' place, I walk on the greenway located in a forest area, which is very nice. I put on my headphones and walk for about 1 hour on Thursday afternoons and during the weekend.</font></font></p>
            </div>
            <br>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Cap image" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">picture not available</text>
            </svg>
            <div class="card-footer text-bg-primary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
                picture description not available
            </font></font></div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-bg-primary mb-3">
            <h3 class="card-header">
                <font dir="auto" style="vertical-align: inherit;">
                    <font dir="auto" style="vertical-align: inherit;">LEGOs</font>
                </font>
            </h3>
            <div class="card-body">
                <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">The world of bricks</font></font></h5>
                <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I have been building with LEGOs for a very long time, with a major period (2014-2019) where I did it every day. Even though I do it much less often now, LEGO remains a very creative activity that I enjoy. I even participated in a LEGO contest on the Champs-Élysées with 3 friends on September 21, 2025.</font></font></p>
            </div>
            <div class="container-fluid mb-3"> 
                <div class="row g-2">
                    <div class="col-6"> 
                    <br>
                        <img src="/document/lego.jpg" class="img-fluid rounded" style="object-fit: cover; height: 250px; width: 100%;" alt="Lego 1">
                    </div>
                    <div class="col-6">
                        <br>
                        <video class="img-fluid rounded" style="object-fit: cover; height: 250px; width: 100%;" controls>
                            <source src="/document/lego.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-6">
                        <img src="/document/lego2.jpg" class="img-fluid rounded" style="object-fit: cover; height: 250px; width: 100%;" alt="Lego 3">
                    </div>
                    <div class="col-6">
                        <img src="/document/légo.jpg" class="img-fluid rounded" style="object-fit: cover; height: 250px; width: 100%;" alt="Lego 4">
                    </div>
                </div>
            </div>
            <div class="card-footer text-bg-primary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
                LEGO contest on the Champs-Élysées, September 21, 2025
            </font></font></div>
        </div>
        <div class="card text-bg-primary mb-3">
            <h3 class="card-header">
                <font dir="auto" style="vertical-align: inherit;">
                    <font dir="auto" style="vertical-align: inherit;">Video Games</font>
                </font>
            </h3>
            <div class="card-body">
                <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Like the majority of young people, I enjoy playing video games.</font></font></h5>
                <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">I play games like Brawl Stars, Minecraft, Minecraft Dungeons, Among Us, etc.</font></font></p>
            </div>
            <br>
            <video class="img-fluid rounded" style="object-fit: cover; height: 200px; width: 100%;" controls>
                <source src="/document/bs.mp4" type="video/mp4">
            </video>
            <div class="card-footer text-bg-primary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">
                clip from the game Brawl Stars
            </font></font></div>
        </div>
    </div>
    <br>
</div>
<br>
{% endblock %}