
:root {
    --bg-color: #A6F0FF;
    --text-color: #052a38;
    --card-bg: #a6f0ff2c;

    --input-bg: #A6ffff;
    --input-border: #999;
    --input-text: #052a38;

    --table-bg: #A6F0FF;
    --table-text: #052a38;
}

.dark-mode {
    --bg-color: #052a38;
    --text-color: #A6F0FF;
    --card-bg: #001a22b3;

    --input-bg: #033341;
    --input-border: #0b708d;
    --input-text: #A6F0FF;

    --table-bg: #001a22b3;
    --table-text: #A6F0FF;
}

body  {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

.card {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
    border-color: var(--card-border) !important;
}

.dark-mode #nom {
    color: var(--text-color) !important;
}
.dark-mode #nom::placeholder {
    color: var(--text-color) !important;
}
.dark-mode #prenom {
    color: var(--text-color) !important;
}
.dark-mode #prenom::placeholder {
    color: var(--text-color) !important;
}
.dark-mode #email {
    color: var(--text-color) !important;
}
.dark-mode #email::placeholder {
    color: var(--text-color) !important;
}

input, select, textarea {
    background-color: var(--input-bg) !important;
    color: var(--input-text) !important;
    border-color: var(--input-border) !important;
}

.table, .table tr, .table td, .table th {
    background-color: var(--table-bg) !important;
    color: var(--table-text) !important;
}

.list-group-item {
    background: var(--card-bg) !important;
    color: var(--text-color) !important;

}
.card-subtitle {
    background: var(--card-bg) !important;
    color: var(--text-color) !important;
}
.table {
    background: var(--table-bg) !important;
    color: var(--table-text) !important;
}


