
:root {
    --bg-color: #A6F0FF;
    --text-color: #052a38;
    --card-bg: rgba(255, 255, 255, 0.65);

    --input-bg: #ffffff;
    --input-border: #999;
    --input-text: #052a38;

    --button-bg: #0d6efd;
    --button-text: #ffffff;

    --table-bg: rgba(255, 255, 255, 0.65);
    --table-text: #052a38;
}

.dark-mode {
    --bg-color: #052a38;
    --text-color: #A6F0FF;
    --card-bg: rgba(0, 26, 34, 0.7);

    --input-bg: #033341;
    --input-border: #0b708d;
    --input-text: #A6F0FF;

    --button-bg: #0d6efd;
    --button-text: #ffffff;

    --table-bg: rgba(0, 26, 34, 0.7);
    --table-text: #A6F0FF;
}

.card {
    background-color: var(--bs-card-bg);
    color: var(--bs-card-color);
}
.list-group-item {
    background-color: var(--bs-card-bg);
    color: var(--bs-card-color);
    background: var(--card-bg) !important;
    color: var(--text-color) !important;
}
.card-subtitle {
    background-color: var(--bs-card-bg);
    color: var(--bs-card-color);
    background: var(--card-bg) !important;
    color: var(--text-color) !important;
}


.navbar.navbar-expand-lg.bg-primary[data-bs-theme="light"] .nav-link,
.navbar.navbar-expand-lg.bg-primary[data-bs-theme="light"] .navbar-brand {
    color: #ffff0f !important; 
    font-weight: 500;
}

.navbar.navbar-expand-lg.bg-primary[data-bs-theme="light"] .nav-link:hover {
    color: #fffff0 !important;
}


body {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

.card {
    background: var(--card-bg) !important;
    color: var(--text-color) !important;
}
