{% extends 'base.html.twig' %}

{% block body %}

<h1>Connecter les entreprises et les usagers</h1>
<p>salut</p>

<div class="container-fluid mb-12">
    <div class="row g-2">
        <div class="list-group col-6">
            <a href="/fr/administrer">
                <button type="button" class="btn btn-primary col-12">Aller à : Administrer les réseaux et l’Internet </button>
            </a>
        </div>
        <div class="list-group col-6">
            <a href="/fr/créer">
                <button type="button" class="btn btn-primary col-12">Aller à : Créer des outils et des applications informatiques pour les R&T</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}