{% extends 'base.html.twig' %}

{% block body %}

<h1>Créer des outils et des applications informatiques pour les R&T</h1>
<p>Le projet de référence pour cette compétence n'est pas fini donc je me suis appuyé sur les cours classiques.</p>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#01" aria-selected="true" role="tab">AC13.02</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#03" aria-selected="false" tabindex="-1" role="tab">AC13.03</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#04" aria-selected="false" tabindex="-1" role="tab">AC13.04</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" style="background-color: var(--card-bg)" id="01" role="tabpanel">
    <h4>Lire, exécuter, corriger et modifier un programme (AC13.02)</h4>
    <p>Cette compétence, acquise lors de la ressource R1.07, m'a permis de maîtriser la lecture et la modification de programmes en C et Python.<br><br>J'ai réalisé des projets concrets comme une calculatrice, un système d'affranchissement et un jeu d'allumettes, ce qui m'a confronté aux erreurs de syntaxe et à la rigueur du compilateur gcc. Cette expérience m'a appris à interpréter les messages d'erreur pour corriger mes programmes de manière autonome. <br><br> À l'avenir, je souhaite systématiser la documentation de mon code et l'usage de Git pour mieux tracer mes modifications. </p>
  </div>
  <div class="tab-pane fade" style="background-color: var(--card-bg)" id="03" role="tabpanel">
    <h4>Traduire un algorithme, dans un langage et pour un environnement donné (AC13.03)</h4>
    <p>Ce module m'a permis de transformer des concepts logiques en programmes fonctionnels en utilisant les langages C et Python. J'ai acquis une maîtrise complète des structures fondamentales telles que les boucles, les conditions, les fonctions et la manipulation de tableaux. <br><br> Bien que j'aie fait preuve d'autonomie sur la majorité des tâches , j'ai rencontré des difficultés lors de la manipulation des fichiers texte. Pour les résoudre, j'ai adopté une démarche de recherche active de documentation sur internet pour identifier les fonctions et paramètres adéquats. Cette expérience m'a permis de consolider mes bases techniques tout en identifiant des axes de progression clairs, notamment sur l'allocation de mémoire en C et l'optimisation de la gestion des fichiers.</p>
  </div>
  <div class="tab-pane fade" style="background-color: var(--card-bg)" id="04" role="tabpanel">
    <h4>Connaître l’architecture et les technologies d’un site Web (AC13.04)</h4>
    <p>Mon apprentissage des technologies web a été marqué par une évolution significative, passant d'une maîtrise du HTML/CSS à la découverte du framework Symfony. Initialement bloqué par la complexité de Symfony, j'ai su surmonter cette appréhension en reprenant l'intégralité des TP à titre personnel pour réussir la SAé 1.04. <br><br>Lors de la réalisation de mon e-portfolio, j'ai intégré un thème Bootstrap, un mode clair/sombre et un système multilingue. Une erreur d'analyse initiale m'a fait perdre quatre heures de travail en ignorant la structure base.html.twig, ce qui m'a appris l'importance cruciale d'analyser l'architecture d'un framework avant de coder "tête baissée". Aujourd'hui, je maîtrise le déploiement d'un serveur Symfony et l'utilisation de GitHub pour le versionnage.</p>
  </div>
</div>

<div class="card border-primary mb-6" style="max-width: 200rem;">
  <div class="card-header text-white bg-primary">Bilan de la compétence</div>
  <div class="card-body">
    <p class="card-text">Pour valider la compétence RT3, j'ai maîtrisé la programmation en C et Python pour créer des applications comme une calculatrice, en apprenant à corriger mes erreurs via le compilateur gcc.</p>
    <p class="card-text">J'ai également développé des outils web avec le framework Symfony et Bootstrap pour mon E-portfolio, y intégrant des fonctionnalités de multilingue et de versionnage Git.</p>
    <p class="card-text">Ce parcours m'a appris à analyser rigoureusement l'architecture logicielle, comme la structure base.html.twig, pour structurer mes projets de manière efficace et professionnelle.</p>
  </div>
</div>
<br>
<div class="container-fluid mb-12">
    <div class="row g-2">
        <div class="list-group col-6">
            <a href="/fr/administrer">
                <button type="button" class="btn btn-primary col-12">Aller à : Administrer les réseaux et l’Internet</button>
            </a>
        </div>
        <div class="list-group col-6">
            <a href="/fr/connecter">
                <button type="button" class="btn btn-primary col-12">Aller à : Connecter les entreprises et les usagers</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}