{% extends 'base.html.twig' %}

{% block body %}

</div>
<h1> bonjour ! </h1>
<h2>Bienvenue sur mon CV !</h2>
</bn>
<a class="CV" href="/fr/cv/telechargement">
<button type="button" class="btn btn-primary btn-lg">téléchargement</button>
</a>

{% endblock %}
