{% extends 'base.html.twig' %}

{% block body %}
<header> 
    <div class="text-center">   
        <h1>Le poste de mes rêves : professeur de NSI</h1>
    </div>
</header>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-bg-primary mb-3">
                <h3 class="card-header">Informations personnelles</h3>
                <div class="card-body">
                    <h4 class="card-title">MONDON Camille</h4>
                    <h6 class="card-subtitle text-muted">Étudiant en BUT Réseaux & Télécommunications</h6>
                </div>
                <img src="/document/photoCV.png" alt="Photo de Camille" class="img-fluid rounded">
                </svg>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">📱 06 56 66 11 39</li>
                    <li class="list-group-item">✉️ camille.mondon42@gmail.com</li>
                    <li class="list-group-item">📍 12 boulevard de Belgique, 42300 Roanne</li>
                    <li class="list-group-item">📆 20/07/2007</li>
                </ul>
                <div class="card-body">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Compétences</div>
                        <div class="card-body">
                            <p class="card-text">
                                Travail en groupe<br>Autonomie<br>Sérieux<br>Créatif<br>Communication<br>Esprit critique<br>+compétence technique
                            </p>
                        </div>
                    </div>
                   <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Centres d'intérêt</div>
                        <div class="card-body">
                            <p class="card-text">
                                La musique : j’ai pratiqué 5 ans de Violon et 10 ans de percussions, dans un groupe.<br>
                                Jeu de société : création de mon propre jeu de stratégie sur plateau.<br>
                                Randonnée/Marche : marche plusieurs fois par semaine, souvent seul.<br>
                                Animations Halloween pour le quartier avec ma famille depuis plus de 10 ans.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
    <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary" href="/fr/cv/formations">
        Mes Formations :
        </a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Formation :</div>
                <div class="card-body">
                    <h4 class="card-title">BUT Réseaux & Télécommunications <br> 09/2025 – En cours</h4>
                    <p class="card-text">
                        IUT de Roanne - Université Jean Monnet <br>
                        - Participation à l’appel à projet 2025 <br>
                        - Délégué RSE</p>
                    <a href="https://iut-roanne.univ-st-etienne.fr/fr/index.html" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Formation :</div>
                <div class="card-body">
                    <h4 class="card-title">BAFA <br> 04/2025 - En cours</h4>
                    <p class="card-text">Formation à l'animation et encadrement de groupes de jeunes.</p>
                    <a href="https://www.jeunes.gouv.fr/le-brevet-d-aptitude-aux-fonctions-d-animateur-bafa-253" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Formation :</div>
                <div class="card-body">
                    <h4 class="card-title">Baccalauréat | Jacob Holtzer <br> 2022 - 2025</h4>
                    <p class="card-text">
                        Baccalauréat général : Mathématiques & NSI <br>
                        Option Super 8 (atelier cinéma).
                    </p>
                    <a href="https://jacob-holtzer.ent.auvergnerhonealpes.fr/" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary" href="/fr/cv/experience">
        experiences professionnelles :
        </a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">experiences professionnelles :</div>
                <div class="card-body">
                    <h4 class="card-title">Animateur - centre de loisir <br>Février et Juillet 2025</h4>
                    <p class="card-text">
                        📍Mairie de Cellieu | Cellieu (42), France <br>
                        -gérer et sécurisée un groupe d’enfants (6-10ans),<br>
                        -créer et animer une activité,<br>
                        -travailler en équipe avec les autres animateurs.</p>
                    <a href="https://cellieu.fr/press3/mairie/enfance-et-jeunesse/centre-de-loisirs/" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">experiences professionnelles :</div>
                <div class="card-body">
                    <h4 class="card-title">Président de la MDL (Maison Des Lycéens) <br>2024/2025</h4>
                    <p class="card-text">📍Lycée Jacob Holtzer | Firminy (42), France<br>
                    Engagement dans la MDL, mais aussi vice-président du CVL (Conseil de Vie Lycéenne), membre du Conseil d’Administration & membre de conseil de discipline du lycée.<br>
                    -Organiser des évènements, gestion de budget, réunion d’équipe</p>
                    <a href="https://jacob-holtzer.ent.auvergnerhonealpes.fr/" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-6" style="max-width: 40rem;">
                <div class="card-header">experiences professionnelles :</div>
                <div class="card-body">
                    <h4 class="card-title">Agent d’entretien <br> juillet 2024</h4>
                    <p class="card-text">📍Espace Mont d'Or | Jura (39), France<br>
                    -entretien extérieures des bâtiments
                    </p>
                    <a href="https://www.espacemontdor.com/" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-6" style="max-width: 40rem;">
                <div class="card-header">experiences professionnelles :</div>
                <div class="card-body">
                    <h4 class="card-title">Bénévole <br> 2022/2024 </h4>
                    <p class="card-text">📍Anges Des Eaux Vives | le Chambon Flles (42)<br>
                    1 fois par an pendant 3 ans <br>
                    - Participation à l’animation d’atelier 
                    </p>
                    <a href="https://www.angesdeseauxvives.org/" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-grid gap-2">
        <a class="btn btn-lg btn-primary" href="/fr/cv/telechargement">
        Pour télécharger le CV, cliquez ici.
        </a>
    </div>
</div>

{% endblock %}
