{% extends 'base.html.twig' %}

{% block body %}
<header> 
    <div class="text-center">   
        <h1>Mon CV : Mes Formations :</h1>
    </div>
</header>
<div class="text-center"> 
    <div class="card-center">
        <br>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Formation :</div>
                <div class="card-body">
                    <h4 class="card-title">BUT Réseaux & Télécommunications <br> 09/2025 – En cours</h4>
                    <p class="card-text">
                        IUT de Roanne - Université Jean Monnet <br>
                        - Participation à l’appel à projet 2025 <br>
                        - Délégué RSE</p>
                    <a href="https://iut-roanne.univ-st-etienne.fr/fr/index.html" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Formation :</div>
                <div class="card-body">
                    <h4 class="card-title">BAFA <br> 04/2025 - En cours</h4>
                    <p class="card-text">Formation à l'animation et encadrement de groupes de jeunes.</p>
                    <a href="https://www.jeunes.gouv.fr/le-brevet-d-aptitude-aux-fonctions-d-animateur-bafa-253" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                <div class="card-header">Formation :</div>
                <div class="card-body">
                    <h4 class="card-title">Baccalauréat | Jacob Holtzer <br> 2022 - 2025</h4>
                    <p class="card-text">
                        Baccalauréat général : Mathématiques & NSI <br>
                        Option Super 8 (atelier cinéma).
                    </p>
                    <a href="https://jacob-holtzer.ent.auvergnerhonealpes.fr/" class="card-link">en savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; gap: 20px;">
        <a class="btn btn-primary btn-lg" href="/fr/cv">
            Retour au CV
        </a>
        <a class="btn btn-primary btn-lg" href="/fr/cv/experience">
            Aller à : expériences professionnelles
        </a>
        <a class="btn btn-primary btn-lg" href="/fr/cv/telechargement">
            Télécharger le CV
        </a>
    </div>
    <br><br><br>
</div>

{% endblock %}
