{% extends 'base.html.twig' %}

{% block body %}

<div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
  <div class="card-header">Téléchargement du CV</div>
  <div class="card-body">
    <p class="card-text">Merci de remplir ce questionnaire pour télécharger le CV.</p>
    <div class="mb-3">
      <label class="form-label">Nom :</label>
      <input type="text" class="form-control" id="nom" placeholder="ex : DURAND">
      <div class="invalid-feedback">Veuillez entrer votre nom.</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Prénom :</label>
      <input type="text" class="form-control" id="prenom" placeholder="ex : Jean">
      <div class="invalid-feedback">Veuillez entrer votre prénom.</div>
    </div>
    <div class="mb-3">
      <label class="email">Adresse mail</label>
      <input type="email" class="form-control" id="email" placeholder="nom.prénom@example.com">
      <div class="invalid-feedback">L'adresse doit contenir un "@".</div>
    </div>
    <label class="form-label mt-3">Choisissez le format :</label>
    <div class="mt-2">
      <button type="button" class="btn btn-primary btn-lg me-2" id="btnDocx" disabled>
        Word (.docx)
      </button>
      <button type="button" class="btn btn-primary btn-lg" id="btnPdf" disabled>
        PDF (.pdf)
      </button>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const nom = document.getElementById("nom");
    const prenom = document.getElementById("prenom");
    const email = document.getElementById("email");
    const btnDocx = document.getElementById("btnDocx");
    const btnPdf = document.getElementById("btnPdf");
    function verifierChamps() {
        let ok = true;
        if (nom.value.trim() === "") {
            nom.classList.add("is-invalid");
            ok = false;
        } else nom.classList.remove("is-invalid");
        if (prenom.value.trim() === "") {
            prenom.classList.add("is-invalid");
            ok = false;
        } else prenom.classList.remove("is-invalid");
        if (!email.value.includes("@")) {
            email.classList.add("is-invalid");
            ok = false;
        } else {
            email.classList.remove("is-invalid");
        }

        // Active/désactive les boutons. NE PAS TOUCHE, CA MARCHE !!
        btnDocx.disabled = !ok;
        btnPdf.disabled = !ok;
    }
    nom.addEventListener("input", verifierChamps);
    prenom.addEventListener("input", verifierChamps);
    email.addEventListener("input", verifierChamps);
    btnDocx.addEventListener("click", function () {
    window.location.href = "/document/CV.docx";
    });
    btnPdf.addEventListener("click", function () {
    window.location.href = "/document/CV.pdf";
});

});
</script>
{% endblock %}
