<html>
    <head>
        <title>Portfolio Camille MONDON</title>
        <meta charset="utf-8" />
    </head>
    <header>
    <a href="/cv">mon cv</a>
    </br>
    <a href="/portfolio">mon portfolio</a>
    </br>
    <p>langue</p>
    <a href="/">français</a>
    </br>
    <a href="/home/en">anglais</a>
    </header>   
    <body>
        <h1> Bonjour ! </h1>
        <h2>Bienvenue sur mon e-portfolio !</h2>
        <h3>Je suis Camille MONDON </p> Je suis en groupe TP B2</h3>
    </body>
</html>
