<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio Camille MONDON</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1> bonjour ! </h1>
        <h2>Bienvenue sur mon e-portfolio !</h2>
    </body>
</html>
