{% extends 'base.html.twig' %}

{% block body %}

<h1 class="mb-3 text-primary"> Bonjour ! </h1>
<h2>Bienvenue sur mon e-portfolio !</h2>
<h3>Je suis Camille MONDON </p> Je suis en groupe TP B2</h3>
<br>
<div class="container">
    <div class="list-group">
        <a href="/fr/Pour_En_Savoir_+" 
           class="list-group-item list-group-item-action flex-column align-items-start active"
           style="background-color: #E95420 !important; border-color: #E95420 !important; color: white !important;">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">mes passes temps :</h4>
            </div>
            <br>
            <p class="mb-1"> Pour avoir plus d'inforation sur mes passes temps, cliquez ici pour en savoir plus !</p>
        </a>
    </div>
</div>
{% endblock %}


