{% extends 'base.html.twig' %}

{% block body %}

<h1>bienvenue sur mon portfolio du BUT R&T </h1>
<h2>la liste des cométences sont sont regroupé en 3 catégories :</h2>
<div class="container-fluid mb-12"> 
    <div class="row g-2">
        <div class="list-group col-4">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1"> Administrer les réseaux et l’Internet</h4>
                </div>
                <p class="mb-1"><br>description</p>
            </a>
        </div>
        <div class="list-group col-4">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1"> Connecter les entreprises et les usagers</h4>
                </div>
                <p class="mb-1"><br>description</p>
            </a>
        </div>
        <div class="list-group col-4">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">Créer des outils et des applications informatiques pour les R&T</h4>
                </div>
                <p class="mb-1"><br>description</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}
