<!DOCTYPE html>
<html>
    <head>
        <title>portfolio Camille MONDON</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1> bonjour ! </h1>
        <h2>Bienvenue sur mon portfolio !</h2>
        <a href="/">retour page d'acceuil</a>
    </body>
</html>
