{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur mon portfolio du BUT R&T</h1>
<h2>La liste des cométences sont regroupé en 3 catégories :</h2>
<div class="container-fluid mb-12"> 
    <div class="row g-2">
        <div class="list-group col-4">
            <a href="/fr/administrer" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1 text-primary"> Administrer les réseaux et l’Internet</h2>
                </div>
                <p class="mb-1"><br> Cette compétence vise à permettre à l'étudiant de choisir les solutions et technologies réseaux adaptées, de configurer les fonctions de base d'un réseau local, de maîtriser les rôles fondamentaux des systèmes d'exploitation pour l'administration, et d'identifier les dysfonctionnements du réseau tout en respectant les principes de la sécurité informatique. </p>
                <small class="text-muted">Extrait du programme national</small>
            </a>
        </div>
        <div class="list-group col-4">
            <a href="/fr/connecter" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1 text-primary"> Connecter les entreprises et les usagers</h2>
                </div>
                <p class="mb-1"><br> Cette compétence se concentre sur l'acquisition des connaissances nécessaires pour déployer des systèmes de transmission (comme la ToIP et les supports physiques), de caractériser des liaisons (mesure de signaux) et de proposer des solutions de connexion adaptées, en tenant compte des aspects scientifiques, techniques et environnementaux. </p>
                <small class="text-muted">Extrait du programme national</small>
            </a>
        </div>
        <div class="list-group col-4">
            <a href="/fr/créer" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1 text-primary">Créer des outils et des applications informatiques pour les R&T</h2>
                </div>
                <p class="mb-1"><br> L'objectif est de former l'étudiant à développer des outils numériques pour les réseaux et télécommunications, notamment en utilisant l'algorithmique, la programmation et la connaissance des technologies Web. L'étudiant apprend à utiliser un système informatique, à lire/modifier un programme, à traiter des données, et à s'intégrer dans un environnement de travail collaboratif.</p>
                <small class="text-muted">Extrait du programme national</small>
            </a>
        </div>
    </div>
</div>
{% endblock %}
